.bold{
    font-weight: bold;
}

.iconfont{
    font-size: 30px;
}
.fz14{
    font-size: 14px;
}
.fz15{
    font-size: 15px;
}
.fz18{
    font-size: 18px;
}
.fz20{
    font-size: 20px;
}
.fz22{
    font-size: 22px;
}
.fz25{
    font-size: 25px;
}
.fz30{
    font-size: 30px;
}
.fz40{
    font-size: 40px;
}
